html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: #ffffff;
	box-sizing: border-box;
	
}

body {
	overflow-x: hidden;
}

.content {
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.content:nth-child(odd) {
	background-color: #fff;
	
}

.content:nth-child(even) {
	background-color:#f2f2f2;
	
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

@media(max-width:500px) {
	.content {
		padding-left: 2%;
		padding-right: 2%;
		width: 100%;
	}
}

/*Loader*/
.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #2b2828;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
	z-index: 9999;
}

.loader video{
	height: 100%;
	width: 100%;
}

.loader.hidden {
	animation: fadeout 1.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeout {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

#cta {
	width: 100%;
	height: 600px;
	background-attachment: fixed;
	background-image: url(design.png);
	background-position: bottom;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}

@media(max-width:600px) {
	#cta {
		height: auto;
		background-attachment: scroll;
		background-position: center;
		background-image: ;
		width: 100%;
	}
}

.desc-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	padding-top: 25%;
}

.desc-title h1 {
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
}

@media(max-width:600px) {
	.desc-title {
		padding-top: 50%;
	}

	.desc-title h1 {
		font-size: 3.25rem;
		color: #ffff;
		padding-bottom: 10%;
	}
}

@media(max-width:360px) {
	.desc-title h1 {
		font-size: 3rem;
	}
}

.container {
	margin: 25px 0;	
}

h1 {
	text-transform: uppercase;
	color: #000;
	font-family: 'Merriweather', serif;
	font-size: 2.55rem;
	font-weight: 400;
	letter-spacing: 1.4px;
	padding: 10px 0;
	margin-bottom: 16px;
}

r {
	font-size: 2.5rem;
	color:#001132;
}

r-2{
	font-size: 3.75rem;
	background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
	background-attachment: fixed;

	/*
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
	background: -webkit-linear-gradient(to right, #434343 0%, black 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2 {
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

h4 {
	text-transform: none;
	text-transform: none;
	color: #000;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	letter-spacing: 1.4px;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	text-align: justify;
	color: #000;
}

.p-linklist {
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
	color: #000;
}

ul {
	display: inline-block;
	text-align: left;
}

.p-linklist li {
	margin: 0;
	counter-increment: number;
	display: flex;
}

.p-linklist li:before {
	content: counter(number)".";
	margin-right: 5px;
}

@media (max-width: 990px) {
	h1 {
		font-size: 28px;
	}

	r {
		font-size: 25px;
	}
	r-2 {
		font-size: 50px;
	}

	h2 {
		font-size: 20px;
	}

	h4 {
		font-size: 17px;
	}

	p {
		font-size: 16px;
		color: #000;
	}

	.p-linklist {
		font-size: 16px;
		color: #000;
	}

}

sup {
	font-size: 0.75rem;
}

@media(max-width:500px) {
	sup {
		font-size: 0.5rem;
	}
}

.centred-child {
	text-align: center;
}

.centred-child video{
	width: 90%;
	background-color: #000;
	height: auto;
	
}

@media(max-width:500px){
	.centred-child video{
		width: 100%;
	}
}

.img {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 42%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

@media(max-width:600px) {
	.img {
		width: 100%;
	}
}

.img img {
	max-width: 100%;
}

.img-desc {
	text-align: center;
	font-style: italic;
	color: #4A4A4C;
}

.button_know {
	width: 20%;
	height: 25px;
	font-size: 1rem;
	background-color: inherit;
	display: block;
	margin: auto;
	border-radius: 100px;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s;
}

@media(max-width:500px) {
	.button_know {
		width: 100%;
	}
}

.button_know:hover {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

external_knowmore {
	border-radius: 4px;
	background: linear-gradient(to right, #67b26b, #4ca2cb);
	border: none;
	color: #FFFFFF;

}

.external_knowmore span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}

.external_knowmore span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.external_knowmore:hover span {
	padding-right: 25px;
}

.external_knowmore:hover span:after {
	opacity: 1;
	right: 0;
}




/**/
/**/

.collapsible-container {
	display: block;
	margin: auto;
	width: 80%;
}

.ref_collapsible {
	background-color: #777;
	color: white;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 32%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s;
}


.ref_collapsible:hover {
	background-color: #555;
	border-radius: 10px;
	background-image: url(ref.jpg);
	background-size: cover;
	border: none;
	width: 80%;
	outline: none;
}

.content-collapsible {
	clear: both;
	padding: 0 50px;
	max-height: 0;
	border-radius: 30px;
	box-decoration-break: none;
	border-color: #000;
	box-shadow: 0 10px 10px -5px;
	overflow: hidden;
	border-left: 1px solid #C5C6C6;
	border-right: 1px solid #C5C6C6;
	transition: max-height 0.3s ease-out;
	background-color: #f1f1f1;
}

@media(max-width:500px) {
	.content-collapsible {
		padding: 0 15px;
	}
}


.collapsible-coli {
	background-color: #777;
	color: white;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 32%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s;
}

.collapsible-coli:hover {
	background-color: #555;
	border-radius: 10px;
	background-image: url(1_1.jpg);
	background-size: cover;
	border: none;
	width: 80%;
}

@media(max-width:500px) {
	.collapsible {
		width: 90%;
		border-radius: 5px;
	}
	.collapsible:hover {
		width: 100%;
	}
	.collapsible-coli {
		width: 90%;
		border-radius: 5px;
	}

	.collapsible-coli:hover {
		width: 100%;
	}
}

.collapsible-coli-large {
	background-color: #777;
	color: white;
	display: block;
	margin: auto;
	text-align: center;
	cursor: pointer;
	border-radius: 100px;
	padding: 18px;
	width: 40%;
	border: none;
	outline: none;
	font-size: 15px;
	transition: 1s;
}

.collapsible-coli-large:hover {
	background-color: #555;
	border-radius: 10px;
	background-image: url(1_1.jpg);
	background-size: cover;
	border: none;
	width: 80%;
}

@media(max-width:500px) {
	.collapsible-coli-large {
		width: 100%;
		border-radius: 5px;
	}

	.collapsible-coli-large:hover {
		width: 100%;
	}
}

.hr1 {
	text-transform: uppercase;
	animation: background-move 10s infinite;
	background: url(Backgrounds/13.jpg);/*|13|*/
	font-weight: 1000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes background-move {
	0% {
		background-position: 0% 0%;
	}

	25% {
		background-position: 5% 10%;
	}

	50% {
		background-position: 15% 15%;
	}

	75% {
		background-position: 10% 5%;
	}

	100% {
		background-position: 0% 0%;
	}
}


.content-collapsible img{
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 82%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

@media(max-width:500px){
	.content-collapsible img{
		width: 100%;
		margin:0;
		border-radius: 2px;
	}

}